@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@300&display=swap');




body {
  background-color: aliceblue;
}


.container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'poppins', sans-serif;
  }
  
  .form-group {
    position: relative;
    margin-bottom: 15px;
  }

  .form-group .fa-eye {
    position: absolute;
    top: 31px;
    right: -10px;
    color: #7a797e;
    font-size: 20px;
    cursor: pointer;
  }
  
  label {
    font-weight: bold;
    font-family: 'roboto', sans-serif;
  }
  
  .password-input {
    width: 100%;
    padding: 10px;
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    outline: none;
    border-radius: 4px;
    border: 1px solid #ccc;
  }

  .msg {
    margin-bottom: 15px;
    font-size: 14px;
    font-family: 'poppins', sans-serif;
  }
  
  .submit-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'poppins', sans-serif;
    color: #fff;
    background-color: #1877f2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #166fe5;
  }
  
  .submit-button:active {
    background-color: #0f60c7;
  }
  

  @media only screen and (max-width: 600px) {
    .container {
      width: 70%;
      margin: 80px auto;
    }
  
    .form-group {
      margin-bottom: 12px;
    }
  
    .submit-button {
      padding: 10px 15px;
    }

    .form-group .fa-eye {
      position: absolute;
      top: 31px;
      right: -10px;
      color: #7a797e;
      font-size: 20px;
      cursor: pointer;
    }

  }